<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="kbank" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label">
                <comment><![CDATA[<div class="kbank-payment-logo"></div><div class="kbank-payment-text">Accept online payments using Kbank Embedded Method. K-Payment Gateway provided by KASIKORNBANK Public Company Limited (hereinafter
                    referred to as “KBank”) is the online payment service to facilitate merchants and offers
                    customers more online payment options.
                    K-Payment Gateway merchant is able to integrate with APIs and also test on 24x7
                    available sandbox environment provided by KBank before go live.</div>]]>
                </comment>
                <fieldset_css>complex kbank-admin-config kbank-section</fieldset_css>
                <frontend_model>GhoSter\KbankPayments\Block\Adminhtml\Config\Fieldset</frontend_model>
                <include path="GhoSter_KbankPayments::system/basic.xml"/>
                <include path="GhoSter_KbankPayments::system/embedded_installment.xml"/>
                <include path="GhoSter_KbankPayments::system/embedded_fullpayment.xml"/>
            </group>
        </section>
    </system>
</config>
